<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="../../../assets/img_01/manu.jpg" class="img-fluid" width="50" height="50">
          </a>
          <a class="nav-link" href="#">Menú</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/pagina1">  Inicio  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/pagina2">  Contactenos </a>
              <li class="nav-item">
                <a class="nav-link" routerLink="/pagina3"> Pedidos </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/pagina4"> D, Q & R </a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/pagina5"> Contacto </a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav> 
      <section></section>
</div>