<div class="text-center">
    <!-- ==================================================pie de pagina ==================================== -->
<footer class=" rounded    w-100 d-flex align-items justify-content-center flex-wrap bg-light">

    <p class="fs-5 px-3 pt-3">www.panaderia_artesanal.com<br>
        Tel. 3458543976 <br>
        <Samp CLASS="fs-6">Barranquilla/Atlantico</Samp>   </p>
    <div>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
    </div>

    </footer>

<!-- ======================================================================================= -->

</div>