<div class="container">

    <div class="row">
        <div class="w-50" class="col-lg-6 col-md-6 col-sm-6 col-6">
        <h2>tipos de pan</h2>
        <ul>
            <li>pan vague</li>
            <li> pan germinado</li>
            <li>pan de maiz </li>
            <li>pan de ezpella</li>
            <li>pan de centeno</li>
        </ul>
        <p class="fs-4 mx-3">entre mucha mas variedad </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <h1>sobre nosotros</h1>
            <br>
            <h3>
                somos la mejor panaderia de la ciudad
                el mejor pan fresco y caliente a todas horas ven y visitanos  <br>
            </h3>

        </div>
        <section>
            <div class="container-fluid text-center">
                <div class="row">
                    <div >
                        <h3>Encuentranos aquí</h3><br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31331.24038710633!2d-74.83459337968972!3d11.008205848518983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42dbb249c7945%3A0xd9542d6533b83171!2sPanaderia%20Artesanal%20Panotti!5e0!3m2!1sen!2sco!4v1653710667947!5m2!1sen!2sco" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    </div>
                </div>
            </div>

            <dir class="row">
                <div   class=" text-end p-3" >
                    <h1><img src="../../../assets/img_01/prin.jpg" alt=""  width="500"></h1>
    
                </div>
    
            </dir>

        </section>


    </div>
</div>