<!-- contactenos  -->

<div class="container text-center bg-light">
    <div  class="w-25  img-fluid  container justify-content-center text-end" >
        <img src="../../../assets/img_01/c.jpg" class="w-75"  height="100"  alt="">
    </div>
    <form class="row g-3">
        <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="juangs@gmail.com">
        </div>
        <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="123456789">
        </div>
        <div class="col-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Juan">
        </div>
        <div class="col-6">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="García">
        </div>
        <div class="col-md-6">
        <label for="inputCellphone" class="form-label">Cellphone</label>
        <input type="number" class="form-control" id="inputCellphone" placeholder="3452698">
        </div>
        <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
            Check me out
            </label>
            </div>
        </div>
        <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>




<!-- arara :3 -->